<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lut.software.gavinoblog.mapper.ContentMapper">

    <!--表名-->
    <sql id="BASE_TABLE">
        t_contents
    </sql>
    <!--文章表列名-->
    <sql id="BASE_COLUMN">
        c.cid, c.title, c.titlePic, c.slug, c.created, c.modified, c.content, c.authorId,
        c.type, c.status, c.tags, c.categories, c.hits, c.commentsNum, c.allowComment,
        c.allowPing, c.allowFeed
    </sql>

    <!--用户表-->
    <sql id="TABLE_USER">
        <include refid="lut.software.gavinoblog.mapper.UserMapper.BASE_TABLE"/>
    </sql>



    <!--根据条件查询文章-->
    <select id="getArticleByCond" resultType="lut.software.gavinoblog.pojo.Content" parameterType="lut.software.gavinoblog.dto.cond.ContentCond">
        SELECT
          <include refid="BASE_COLUMN"/>
        FROM
          <include refid="BASE_TABLE"/> AS c
        <where>
            <if test="tag != null">
                AND c.tags LIKE CONCAT('%',#{tag, jdbcType=VARCHAR},'%')
            </if>
            <if test="category != null">
                AND c.categories LIKE CONCAT('%',#{category, jdbcType=VARCHAR},'%')
            </if>
            <if test="status != null">
                AND c.status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="title != null">
                AND c.title LIKE CONCAT('%',#{title, jdbcType=VARCHAR},'%')
            </if>
            <if test="content != null">
                AND c.content LIKE CONCAT('%',#{content, jdbcType=VARCHAR},'%')
            </if>
            <if test="type != null">
                AND c.type = #{type, jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND c.created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND c.created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY c.created DESC
    </select>

    <!--获取文章总数-->
    <select id="getArticleCount" resultType="java.lang.Long">
        SELECT
          COUNT(*)
        FROM
          <include refid="BASE_TABLE"/>
    </select>

</mapper>